rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
    	allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /projects/{uid} {
    	allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
    }
  }
}
